In [1]:
# importing pyspark
import pyspark

In [2]:
# importing session from sql from pyspark to start the sessio
from pyspark.sql import SparkSession

In [3]:
# creating the seasion
spark = SparkSession.builder.appName("Apache PySpark Final Project-Zomato").getOrCreate()

22/11/02 16:00:32 WARN Utils: Your hostname, HP-G62 resolves to a loopback address: 127.0.1.1; using 192.168.18.15 instead (on interface wlo1)
22/11/02 16:00:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/02 16:00:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# creating zomato dataframe fro the zomato.csv file
zomato_df = spark.read.csv('zomato.csv',inferSchema=True,header=True)

In [5]:
# printing the schema of zomato dataframe
zomato_df.printSchema()

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- rest_type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost(for two people): string (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- listed_in(type): string (nullable = true)
 |-- listed_in(city): string (nullable = true)

In [6]:
# showing the data from zomato dataframe
zomato_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
|                 url|             address|                name|        online_order|          book_table| rate|               votes|               phone|            location|           rest_type|          dish_liked|            cuisines|approx_cost(for two people)|        reviews_list|           menu_item|     listed_in(type)|     listed_in(city)|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
|https://www.zomat...|942, 21st Main Ro...|               Jalsa|                 Yes|                 Yes|4.1/5|                 775|        080 42297555|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9743772233"|        Banashankari|       Casual Dining|Pasta, Lunch Buff...|North Indian, Mug...|  800|"[('Rated 4.0', '...|        ('Rated 4.0'| 'RATED\n  You ca...|        ('Rated 5.0'| 'RATED\n  Overde...|        ('Rated 4.0'|        'RATED\n  The pl...|        ('Rated 4.0'| 'RATED\n  The pl...|        ('Rated 4.0'| 'RATED\n  The pl...|
|https://www.zomat...|2nd Floor, 80 Fee...|      Spice Elephant|                 Yes|                  No|4.1/5|                 787|        080 41714161|        Banashankari|       Casual Dining|Momos, Lunch Buff...|Chinese, North In...|                        800|"[('Rated 4.0', '...|rice was well coo...|        ('Rated 5.0'| 'RATED\n  This p...|
|https://www.zomat...|1112, Next to KIM...|     San Churro Cafe|                 Yes|                  No|3.8/5|                 918|      +91 9663487993|        Banashankari| Cafe, Casual Dining|Churros, Cannello...|Cafe, Mexican, It...|                        800|"[('Rated 3.0', "...|        ('Rated 3.0'| ""RATED\n \nWent...| pasta churros an...|
|https://www.zomat...|1st Floor, Annaku...|Addhuri Udupi Bho...|                  No|                  No|3.7/5|                  88|      +91 9620009302|        Banashankari|         Quick Bites|         Masala Dosa|South Indian, Nor...|                        300|"[('Rated 4.0', "...|        ('Rated 2.0'| 'RATED\n  Reache...|        ('Rated 4.0'|
|https://www.zomat...|10, 3rd Floor, La...|       Grand Village|                  No|                  No|3.8/5|                 166|      +91 8026612447|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9901210005"|        Basavanagudi|       Casual Dining| Panipuri, Gol Gappe|North Indian, Raj...|  600|[('Rated 4.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|37, 5-1, 4th Floo...|     Timepass Dinner|                 Yes|                  No|3.8/5|                 286|      +91 9980040002|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9980063005"|        Basavanagudi|       Casual Dining|Onion Rings, Past...|        North Indian|  600|[('Rated 3.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|19/1, New Timbery...|Rosewood Internat...|                  No|                  No|3.6/5|                   8|      +91 9731716688|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|       080 26740366"|         Mysore Road|       Casual Dining|                null|North Indian, Sou...|  800|[('Rated 5.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|2469, 3rd Floor, ...|              Onesta|                 Yes|                 Yes|4.6/5|                2556|        080 48653961|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|       080 48655715"|        Banashankari| Casual Dining, Cafe|Farmhouse Pizza, ...|Pizza, Cafe, Italian|  600|"[('Rated 5.0', '...| and my 5th diffe...|            JP Nagar|        Basavanagudi| Koramangala baka...| it's the unlimit...|                        but| but there is a c...| unlimited desser...| one dessert and ...| I have been thro...|
|https://www.zomat...|1, 30th Main Road...|      Penthouse Cafe|                 Yes|                  No|4.0/5|                 324|      +91 8884135549|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9449449316"|        Banashankari|                Cafe|Pizza, Mocktails,...|Cafe, Italian, Co...|  700|"[('Rated 3.0', "...| it's a very smal...|        ('Rated 4.0'|    ""RATED\n  Small|                cosy| covered rooftop ...|                      pasta| pizza and sizzle...|        ('Rated 4.0'| ""RATED\n  Small...|        ('Rated 4.0'|
|https://www.zomat...|2470, 21 Main Roa...|           Smacznego|                 Yes|                  No|4.2/5|                 504|      +91 9945230807|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9743804471"|        Banashankari|                Cafe|Waffles, Pasta, C...|Cafe, Mexican, It...|  550|"[('Rated 4.0', "...|        ('Rated 4.0'| 'RATED\n  A tuck...| slightly off the...| they served in f...|        ('Rated 5.0'|        'RATED\n  Been h...| although takes a...| do taste quite y...|        ('Rated 5.0'| 'RATED\n  Being ...|
|https://www.zomat...|12,29 Near PES Un...|CafÃÂÃÂÃÂÃ...|                 Yes|                  No|4.1/5|                 402|        080 26724489|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 7406048982"|        Banashankari|                Cafe|Waffles, Pasta, C...|                Cafe|  500|"[('Rated 4.0', '...| I wish they gave...| pasta arrabiata ...| waffles and nugg...| a good hangout p...| I wouldn't sugge...|               ('Rated 3.0'| 'RATED\n  A good...| and this place c...|                  []|               Cafes|
|https://www.zomat...|941, 3rd FLOOR, 2...|        Cafe Shuffle|                 Yes|                 Yes|4.2/5|                 150|      +91 9742166777|        Banashankari|                Cafe|Mocktails, Peri F...|Cafe, Italian, Co...|                        600|"[('Rated 1.0', "...| you get it liter...|        ('Rated 4.0'| ""RATED\n  While...|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [7]:
# printing the columns of zomato dataframe
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rate',
 'votes',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)',
 'reviews_list',
 'menu_item',
 'listed_in(type)',
 'listed_in(city)']

In [8]:
# Change the column name “rate”  into rating
# Change the column name “approx_cost (for two people)”  into approx_cost_two_people
# Change the column name “listed_in(type)” into category_listed
# Change the column name “listed_in(city)” into city
# Change the column name “rest_type” into type
zomato_df=zomato_df.withColumnRenamed("rate","rating")\
    .withColumnRenamed("approx_cost(for two people)","approx_cost_two_people")\
    .withColumnRenamed("listed_in(type)","category_listed")\
    .withColumnRenamed("listed_in(city)","city")\
    .withColumnRenamed("rest_type","type")

zomato_df.printSchema()

In [14]:
# removing  dupicate rows from the zomato dataframe
zomato_df.dropDuplicates()
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people',
 'reviews_list',
 'menu_item',
 'category_listed',
 'city']

In [15]:
# city and location, both are here, lets keep only one (location)
zomato_df=zomato_df.drop("city")
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people',
 'reviews_list',
 'menu_item',
 'category_listed']

In [16]:
# dropping url. address, menu list , review list
zomato_df=zomato_df.drop("url","address","menu_item","reviews_list","city","category_listed")
zomato_df.columns

['name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people',
 'menu_item',
 'category_listed']

In [17]:
# removing  null rows containg null values from the zomato dataframe
zomato_df=zomato_df.na.drop("any")
zomato_df.show()

+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+----------------------+--------------------+--------------------+
|                name|        online_order|          book_table|rating|               votes|               phone|            location|               type|          dish_liked|            cuisines|approx_cost_two_people|           menu_item|     category_listed|
+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+----------------------+--------------------+--------------------+
|       Casual Dining|Pasta, Lunch Buff...|North Indian, Mug...|   800|"[('Rated 4.0', '...|        ('Rated 4.0'| 'RATED\n  You ca...|       ('Rated 5.0'| 'RATED\n  Overde...|        ('Rated 4.0'|   'RATED\n  The pl...| 'RATED\n  The pl...|        ('Rated 4.0'|
|      Spice Elephant|                 Yes|                  No| 4.1/5|                 787|        080 41714161|        Banashankari|      Casual Dining|Momos, Lunch Buff...|Chinese, North In...|                   800|rice was well coo...|        ('Rated 5.0'|
|     San Churro Cafe|                 Yes|                  No| 3.8/5|                 918|      +91 9663487993|        Banashankari|Cafe, Casual Dining|Churros, Cannello...|Cafe, Mexican, It...|                   800|        ('Rated 3.0'| ""RATED\n \nWent...|
|Addhuri Udupi Bho...|                  No|                  No| 3.7/5|                  88|      +91 9620009302|        Banashankari|        Quick Bites|         Masala Dosa|South Indian, Nor...|                   300|        ('Rated 2.0'| 'RATED\n  Reache...|
| Casual Dining, Cafe|Farmhouse Pizza, ...|Pizza, Cafe, Italian|   600|"[('Rated 5.0', '...| and my 5th diffe...|            JP Nagar|       Basavanagudi| Koramangala baka...| it's the unlimit...|                   but| unlimited desser...| one dessert and ...|
+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+----------------------+--------------------+--------------------+
only showing top 5 rows

In [18]:
zomato_df.count()

19490

In [2]:
zomato_df.toPandas().to_csv('data/cleaned_zomato.csv',index= False)

NameError: name 'zomato_df' is not defined

In [ ]:
import pandas as np

In [3]:
cleaned_zomato_df=pd.read_csv("cleaned_zomato.csv")
cleaned_zomato_df.count()

NameError: name 'pd' is not defined

In [5]:
cleaned_zomato_df.drop([(cleaned_zomato_df['online_order'] != "Yes") | \
                        (cleaned_zomato_df['online_order'] != "No")],inplace=True)
cleaned_zomato_df.count()

NameError: name 'cleaned_zomato_df' is not defined

In [ ]:
cleaned_zomato_df.to_csv("cleaned_zomato_df.csv",index=False)
cleaned_zomato_df.to_excel("cleaned_zomato_df.xlsx",index=False)