In [1]:
from pyspark.sql import SparkSession

In [2]:
spark= SparkSession.builder.appName("Dataframe on Pyspark").getOrCreate()

22/10/12 10:47:58 WARN Utils: Your hostname, HP-G62 resolves to a loopback address: 127.0.1.1; using 192.168.18.113 instead (on interface enp3s0)
22/10/12 10:47:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/12 10:47:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/12 10:48:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
from datetime import date

In [8]:
df=spark.createDataFrame([
    ("Red",1,"Apple", date(2022,2,2)),
    ("Yellow",2,"Orange", date(2022,3,2)),
    ("Green",3,"Chilli", date(2022,5,2)),
    ("Green",4,"Grapes", date(2022,4,2)),
], schema= "Color string , Number long, Name string, Date date")

In [9]:
df

DataFrame[Color: string, Number: bigint, Name: string, Date: date]

In [12]:
df.show(2)

+------+------+------+----------+
| Color|Number|  Name|      Date|
+------+------+------+----------+
|   Red|     1| Apple|2022-02-02|
|Yellow|     2|Orange|2022-03-02|
+------+------+------+----------+
only showing top 2 rows

In [23]:
iris_df=spark.read.csv("iris.csv")

In [14]:
iris_df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [24]:
iris_df.show()

+------------+-----------+------------+-----------+-----------+
|         _c0|        _c1|         _c2|        _c3|        _c4|
+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [21]:
iris_df=spark.read.csv("iris.csv",inferSchema=True,header=True)

In [25]:
iris_df.show()

+------------+-----------+------------+-----------+-----------+
|         _c0|        _c1|         _c2|        _c3|        _c4|
+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [26]:
iris_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [27]:
type(iris_df)

pyspark.sql.dataframe.DataFrame