In [9]:
import numpy as np
import pandas as pd
import pyspark as psp
from pyspark.sql import SparkSession

In [12]:
employee_df=pd.read_csv('employee.csv')
employee_df.head(3)

    EmpID        EmpName  EmpAge  Country
0  Emp101  Andrew Mathew      24      USA
1  Emp102  Marcus dugles      27  England
2  Emp103  Engidi Nathem      28   France

In [15]:
employee_df[employee_df["EmpAge"]>25]

    EmpID        EmpName  EmpAge  Country
1  Emp102  Marcus dugles      27  England
2  Emp103  Engidi Nathem      28   France
4  Emp105         Robert      29    Italy

In [44]:
# creating the seasion
sp = SparkSession.builder.appName["Baburam"].getOrCreate()

TypeError: 'method' object is not subscriptable

In [27]:
spark_employee_df=sp.createDataFrame(employee_df)
type(spark_employee_df)

TypeError: data is already a DataFrame