In [ ]:
# spark on python
# PySpark

In [1]:
# installation of pyspark
# pip install pyspark

SyntaxError: invalid syntax (1732791547.py, line 2)

In [5]:
# importing pyspark
import pyspark

In [6]:
import pandas as pd
import numpy as np

In [3]:
# importing session from sql from pyspark to start the sessio
from pyspark.sql import SparkSession

# creating the seasion
spark = SparkSession.builder.getOrCreate()

22/10/10 08:56:43 WARN Utils: Your hostname, HP-G62 resolves to a loopback address: 127.0.1.1; using 192.168.18.113 instead (on interface enp3s0)
22/10/10 08:56:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/10 08:56:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/10 08:56:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [10]:
# creating pandas dataframes 
data_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['Baburam', 'hari', 'hyaru'],
    'd': [2000-2-1,2000-2-1,2000-3-1],
    'e': [(2000, 1, 1, 12, 0),(2000, 1, 2, 12, 0),(2000, 1, 3, 12, 0)]
})

data_df

   a    b        c     d                    e
0  1  2.0  Baburam  1997  (2000, 1, 1, 12, 0)
1  2  3.0     hari  1997  (2000, 1, 2, 12, 0)
2  3  4.0    hyaru  1996  (2000, 1, 3, 12, 0)

In [11]:
type(data_df)

pandas.core.frame.DataFrame

In [12]:
#creating spark dataframes
spark_df = spark.createDataFrame(data_df)
spark_df

/home/babucode/.local/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/babucode/.local/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

DataFrame[a: bigint, b: double, c: string, d: bigint, e: struct<_1:bigint,_2:bigint,_3:bigint,_4:bigint,_5:bigint>]

In [13]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [16]:
spark_df.head()

Row(a=1, b=2.0, c='Baburam', d=1997, e=Row(_1=2000, _2=1, _3=1, _4=12, _5=0))

In [17]:
spark_df.head(3)

[Row(a=1, b=2.0, c='Baburam', d=1997, e=Row(_1=2000, _2=1, _3=1, _4=12, _5=0)),
 Row(a=2, b=3.0, c='hari', d=1997, e=Row(_1=2000, _2=1, _3=2, _4=12, _5=0)),
 Row(a=3, b=4.0, c='hyaru', d=1996, e=Row(_1=2000, _2=1, _3=3, _4=12, _5=0))]

In [18]:
spark_df.show()

+---+---+-------+----+-------------------+
|  a|  b|      c|   d|                  e|
+---+---+-------+----+-------------------+
|  1|2.0|Baburam|1997|{2000, 1, 1, 12, 0}|
|  2|3.0|   hari|1997|{2000, 1, 2, 12, 0}|
|  3|4.0|  hyaru|1996|{2000, 1, 3, 12, 0}|
+---+---+-------+----+-------------------+

In [20]:
spark_df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: long (nullable = true)
 |-- e: struct (nullable = true)
 |    |-- _1: long (nullable = true)
 |    |-- _2: long (nullable = true)
 |    |-- _3: long (nullable = true)
 |    |-- _4: long (nullable = true)
 |    |-- _5: long (nullable = true)