In [3]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName("Create Dataframe").getOrCreate()

22/10/12 12:55:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
credit_df=spark.read.csv("tmdb_5000_credits.csv",inferSchema=True,header=True)

In [9]:
credit_df.show(5)

+--------+--------------------+-------------------+--------------------+
|movie_id|               title|               cast|                crew|
+--------+--------------------+-------------------+--------------------+
|   19995|              Avatar|"[{""cast_id"": 242| ""character"": "...|
|     285|Pirates of the Ca...|  "[{""cast_id"": 4| ""character"": "...|
|  206647|             Spectre|  "[{""cast_id"": 1| ""character"": "...|
|   49026|The Dark Knight R...|  "[{""cast_id"": 2| ""character"": "...|
|   49529|         John Carter|  "[{""cast_id"": 5| ""character"": "...|
+--------+--------------------+-------------------+--------------------+
only showing top 5 rows