In [1]:
### pyspark basic
# https://spark.apache.org/docs/latest/api/python/

In [3]:
# Installation
# pip install pyspark

In [9]:
import pandas as pd
employee_df=pd.read_csv("employee.csv")
employee_df

    EmpID        EmpName  EmpAge  Country
0  Emp101  Andrew Mathew      24      USA
1  Emp102  Marcus dugles      27  England
2  Emp103  Engidi Nathem      28   France
3  Emp104    Jason Quilt      21    Japan
4  Emp105         Robert      29    Italy

In [11]:
employee_df.head(3)

    EmpID        EmpName  EmpAge  Country
0  Emp101  Andrew Mathew      24      USA
1  Emp102  Marcus dugles      27  England
2  Emp103  Engidi Nathem      28   France

In [12]:
type(employee_df)

pandas.core.frame.DataFrame

In [13]:
import pyspark

In [17]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.getOrCreate()

JAVA_HOME is not set

RuntimeError: Java gateway process exited before sending its port number

In [23]:
spark

NameError: name 'spark' is not defined

In [ ]:
# DataFrame Creation

In [ ]:
# Viewing Data

In [ ]:
# Selecting and Accessing Data

In [ ]:
# Applying a Function

In [ ]:
# Grouping Data

In [ ]:
# Getting Data in/out

In [ ]:
# Working with SQL

In [ ]:
# Quickstart: Pandas API on Spark

In [2]:
# Object Creation

In [ ]:
# Missing Data

In [ ]:
# Operations

In [ ]:
# Grouping

In [ ]:
# Plotting